$lightBlue: #8e9efc;
$mediumBlue : #5a73fc;
$darkBlue: #1c3eff ;
$colorPrimary: #5a73fc;
$colorPrimaryLight: #8e9efc;
$colorPrimaryDark: #1c3eff;
$colorGrey: #777777;
$colorWhite: #fff;
$colorBlack: #000;
$colorSecondaryLight: #ffb900; //Màu Cam
$colorSecondaryDark: #ff7730;
$colorTertiaryLight:#55c57a; // Màu xanh lá cây
$colorTertiaryDark:#28b485;
$colorGreyLight1: #f7f7f7f7;
$colorGreyDark1: #333;

$gridwidth:114rem;
$gutterVertical:8rem;
$gutterHorizontal:6rem;
$gutterVerticalSmall : 6rem;
$defaultFontSize: 1.6rem;
